title {

    font-family: Helvetica ;

}

body {
    background-color: aqua;
}
   


img {
    width: 200px;
    height: 150px;
    /* float: left; */
    /* clear: left; */
    /* margin-bottom: 15px; */
}  
   
   
   


h1 {
    height: 50px;
    background-color: blanchedalmond;
    text-align: center;
    font-family: cursive;
}
h3 {
    
    color: darkred;
}

footer {
    background-color: cadetblue;
    height: 75px;
    /* border: 1px solid black; */
    /* float: left; */
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
button {
    border: 1px solid black;
   
    /* scroll-margin-top: 10px; */
    /* display: block; */
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}
.product-container {
    position: relative;
    display: flex;
}
.content {
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 30px;
}